In [128]:
import pandas as pd

In [129]:
nodeTab = pd.read_excel('hrafnkel_saga_network.xlsx', sheet_name = 'hrafnkel_nodes')
edgesTab = pd.read_excel('hrafnkel_saga_network.xlsx', sheet_name = 'hrafnkel_edges')
actionTab = pd.read_excel('hrafnkel_saga_network.xlsx', sheet_name = 'action_codes')
genderTab = pd.read_excel('hrafnkel_saga_network.xlsx', sheet_name = 'gender_codes')

In [130]:
# set Thordis as female


for x,y in enumerate(nodeTab['label']):
    if y == 'Thordis':
        value = 0
        nodeTab['gender'].loc[[x]] = value

In [131]:
nodeTab[nodeTab['label'] == 'Thordis']

    id    label  gender  chapter   page
32  33  Thordis       0      8.0  447.0

In [132]:
edgesTab.head()

   source  target  action  chapter  page
0       1       2       1        1   NaN
1       2       3       1        1   NaN
2       3       4       1        1   NaN
3       4       5       1        1   NaN
4       5       6       1        1   NaN

In [133]:
edgesTab.head()

   source  target  action  chapter  page
0       1       2       1        1   NaN
1       2       3       1        1   NaN
2       3       4       1        1   NaN
3       4       5       1        1   NaN
4       5       6       1        1   NaN

In [134]:
mergeAction = edgesTab.merge(actionTab, left_on='action', right_on='action', suffixes=('_left', '_right'))

In [135]:
mergeAction.head()

   source  target  action  chapter  page action description
0       1       2       1        1   NaN            descent
1       2       3       1        1   NaN            descent
2       3       4       1        1   NaN            descent
3       4       5       1        1   NaN            descent
4       5       6       1        1   NaN            descent

In [136]:
mergeGender = nodeTab.merge(genderTab, left_on='gender', right_on='gender', suffixes=('_left', '_right'))

In [137]:
mergeGender.head()

,id,label,gender,chapter,page,gender description
0,1,King Harald Fair-Hair,1,1.0,438.0,male
1,2,Halfdan the Black,1,1.0,438.0,male
2,3,Gudrod the Hunting King,1,1.0,438.0,male
3,4,Halfdan the Mild and Meal-stingy,1,1.0,438.0,male
4,5,Eystein Fart,1,1.0,438.0,male

In [138]:
# left has the chapter info which descirbes the action happened.

df = mergeAction.merge(mergeGender, left_on = 'source', right_on = 'id', suffixes=('_left', '_right'))

In [139]:
df.head()

,source,target,action,chapter_left,page_left,action description,id,label,gender,chapter_right,page_right,gender description
0,1,2,1,1,NaN,descent,1,King Harald Fair-Hair,1,1.0,438.0,male
1,2,3,1,1,NaN,descent,2,Halfdan the Black,1,1.0,438.0,male
2,3,4,1,1,NaN,descent,3,Gudrod the Hunting King,1,1.0,438.0,male
3,4,5,1,1,NaN,descent,4,Halfdan the Mild and Meal-stingy,1,1.0,438.0,male
4,5,6,1,1,NaN,descent,5,Eystein Fart,1,1.0,438.0,male

In [140]:
df.dtypes

source                  int64
target                  int64
action                  int64
chapter_left            int64
page_left             float64
action description     object
id                      int64
label                  object
gender                  int64
chapter_right         float64
page_right            float64
gender description     object
dtype: object

test

In [141]:
import sys, time
import pandas as pd
import datetime as dt
from IPython.display import display

In [142]:
FILE_NAME = "output.gml"

In [143]:
gender_symbol = []

In [144]:
for x, y in enumerate(df['label']):
#     str = df['label'][x] + '(' + df[''] 
#     df['label'] = df['label'] += df['gen']
    string_s = df['label'][x] + ' (' + str(df['gender description'][x]) + ')'
    
    if df['gender description'][x] == 'male':
        gender_symbol.append('triangle')
    else:
        gender_symbol.append('oval')
        
    second_str = 'Chap. ' + str(df['chapter_left'][x]) + ' - ' + df['action description'][x]
        
    df['action description'].loc[[x]] = second_str
    
    df['label'][x] = string_s

/Users/qjm/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [145]:
df = df.assign(genderSymbol=gender_symbol)

In [146]:
df.head()

,source,target,action,chapter_left,page_left,action description,id,label,gender,chapter_right,page_right,gender description,genderSymbol
0,1,2,1,1,NaN,Chap. 1 - descent,1,King Harald Fair-Hair (male),1,1.0,438.0,male,triangle
1,2,3,1,1,NaN,Chap. 1 - descent,2,Halfdan the Black (male),1,1.0,438.0,male,triangle
2,3,4,1,1,NaN,Chap. 1 - descent,3,Gudrod the Hunting King (male),1,1.0,438.0,male,triangle
3,4,5,1,1,NaN,Chap. 1 - descent,4,Halfdan the Mild and Meal-stingy (male),1,1.0,438.0,male,triangle
4,5,6,1,1,NaN,Chap. 1 - descent,5,Eystein Fart (male),1,1.0,438.0,male,triangle

In [147]:
#Utility functions
def progress(v):
    v = str(v)
    sys.stdout.flush()
    sys.stdout.write('\r')
    sys.stdout.flush()
    sys.stdout.write(v)

In [148]:
f = open(FILE_NAME, "w")
#helpers
s = " "
ss = s+s
sss = s+s+s
ssss = s+s+s+s
nl = "\n"

#loop helpers
added = []
ind = 0

#Root node
f.write("graph"+nl)
f.write("["+nl)



#Write a node
def write_node(r):
    f.write( ss + "node" + nl)
    f.write( ss + "[" + nl)
    f.write( ssss + "id" + s + str(r['source']) + nl)
    f.write( ssss + "label" + s + '"' + str(r['label']) + '"' + nl)
    f.write( ssss + "graphics" + nl + ssss + "[" + s + "type" + s  + '"' + str(r['genderSymbol']) + '"'\
            +nl + ssss +\
            ']' 
            + nl)
    f.write( ssss + "LabelGraphics" + nl + ssss + "[" + s + "anchor" + s  + '"' + "s" + '"'\
            + nl  + ssss  + ']'\
            + nl)
    f.write( ss + "]"+ nl)


#Write an edge
def write_edge(r):
    f.write( ss + "edge" + nl)
    f.write( ss + "[" + nl)
    f.write( ssss + "source" + s + str(r['source'])  + nl)
    f.write( ssss + "target" + s  + str(r['target'])  + nl)
#     f.write( ssss + "graphics" + nl + ssss + "[" + s + "style" + s  + '"' + "dashed" + '"'\
#             +nl + ssss +\
#             ']' 
#             + nl)
    f.write( ssss + "LabelGraphics" + nl + ssss + "[" + s + "text" + s + '"' + str(r['action description']) \
            + '"' +\
            nl + ssss + ']'  
            + nl)
    f.write( ss + "]"+ nl)


#Generate nodes
for i, r in df.iterrows():
    #increment, as index not reliable
    ind += 1
    #Check for duplicates
    if (r['source'] not in added):
        #Add to list
        added.append(r['source'])
        write_node(r)
    #print the progress    
    progress(ind)

print(nl+"Printing nodes over")

#flush index
ind = 0    
#Generate edges    
for i, r in df.iterrows():
    #increment, as index not reliable
    ind += 1
#     if(r['source'] < r['target']):
    write_edge(r)
    #print the progress            
    progress(ind)

print(nl+"Printing nodes and edges over")

#closing node
f.write("]"+nl)
f.close()

110
Printing nodes over
110
Printing nodes and edges over

In [149]:
df.head()

,source,target,action,chapter_left,page_left,action description,id,label,gender,chapter_right,page_right,gender description,genderSymbol
0,1,2,1,1,NaN,Chap. 1 - descent,1,King Harald Fair-Hair (male),1,1.0,438.0,male,triangle
1,2,3,1,1,NaN,Chap. 1 - descent,2,Halfdan the Black (male),1,1.0,438.0,male,triangle
2,3,4,1,1,NaN,Chap. 1 - descent,3,Gudrod the Hunting King (male),1,1.0,438.0,male,triangle
3,4,5,1,1,NaN,Chap. 1 - descent,4,Halfdan the Mild and Meal-stingy (male),1,1.0,438.0,male,triangle
4,5,6,1,1,NaN,Chap. 1 - descent,5,Eystein Fart (male),1,1.0,438.0,male,triangle

In [126]:
df.to_csv('test.csv')

In [139]:
df['gender description'].unique()

array(['male', 'female'], dtype=object)